In [1]:
import zipfile

with zipfile.ZipFile("ola-dataset.zip", 'r') as zip_ref:
    zip_ref.extractall("ola-dataset")

In [57]:
import pandas as pd

df = pd.read_csv(r"C:\Users\hp\PyCharmMiscProject\OLA Data Analysis\ola-dataset\Bengaluru Ola.csv")  # Adjust path if needed

In [58]:
df.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for Cancelling by Customer,Cancelled Rides by Driver,Reason for Cancelling by Driver,Incomplete Rides,Incomplete Rides Reason,Booking Value,Payment Method,Ride Distance,Driver Ratings,Customer Rating
0,28/01/2024,6:00:00,CNR1721175,Success,329258,Auto,Area-3,Area-2,5.42,18.46,...,NaN,0,NaN,0,NaN,868.06,Wallet,28.5,4.4,4.4
1,26/01/2024,3:00:00,CNR2871422,Cancelled by Driver,201414,Mini,Area-7,Area-6,NaN,NaN,...,NaN,1,The customer was coughing/sick,0,NaN,NaN,NaN,NaN,NaN,NaN
2,15/01/2024,16:00:00,CNR6875935,Cancelled by Driver,301629,Bike,Area-40,Area-24,NaN,NaN,...,NaN,1,Personal & Car related issues,0,NaN,NaN,NaN,NaN,NaN,NaN
3,02/01/2024,22:00:00,CNR6798834,Cancelled by Driver,319684,Prime Sedan,Area-11,Area-24,NaN,NaN,...,NaN,1,The customer was coughing/sick,0,NaN,NaN,NaN,NaN,NaN,NaN
4,30/01/2024,22:00:00,CNR9661713,Incomplete,330283,Bike,Area-41,Area-45,NaN,NaN,...,NaN,0,NaN,1,Other Issue,NaN,NaN,NaN,NaN,NaN

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49999 entries, 0 to 49998
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               49999 non-null  object
 1   Time                               49999 non-null  object
 2   Booking ID                         49999 non-null  object
 3   Booking Status                     49999 non-null  object
 4   Customer ID                        49999 non-null  int64
 5   Vehicle Type                       49999 non-null  object
 6   Pickup Location                    49999 non-null  object
 7   Drop Location                      49999 non-null  object
 8   Avg VTAT                           33484 non-null  float64
 9   Avg CTAT                           33484 non-null  float64
 10  Cancelled  by Customer             49999 non-null  int64
 11  Reason for Cancelling by Customer  3799 non-null   object
 12  Cancelled Rides by Driver          49999 non-null  int64
 13  Reason for Cancelling by Driver    9610 non-null   object
 14  Incomplete Rides                   49999 non-null  int64
 15  Incomplete Rides Reason            3106 non-null   object
 16  Booking Value                      33484 non-null  float64
 17  Payment Method                     33484 non-null  object
 18  Ride Distance                      33484 non-null  float64
 19  Driver Ratings                     33484 non-null  float64
 20  Customer Rating                    33484 non-null  float64
dtypes: float64(6), int64(4), object(11)
memory usage: 8.0+ MB

In [60]:
df.shape

(49999, 21)

In [61]:
df.describe()

,Customer ID,Avg VTAT,Avg CTAT,Cancelled by Customer,Cancelled Rides by Driver,Incomplete Rides,Booking Value,Ride Distance,Driver Ratings,Customer Rating
count,49999.000000,33484.000000,33484.000000,49999.000000,49999.000000,49999.000000,33484.000000,33484.000000,33484.00000,33484.000000
mean,550979.937539,10.481654,15.564320,0.075982,0.192204,0.062121,1023.374286,25.447143,4.00304,4.001726
std,258855.930945,5.490853,8.365313,0.264971,0.394036,0.241378,563.595072,14.175953,0.57968,0.579177
min,100001.000000,1.000000,1.000000,0.000000,0.000000,0.000000,50.100000,1.000000,3.00000,3.000000
25%,328740.500000,5.730000,8.310000,0.000000,0.000000,0.000000,532.942500,13.100000,3.50000,3.500000
50%,552598.000000,10.460000,15.610000,0.000000,0.000000,0.000000,1023.350000,25.460000,4.00000,4.000000
75%,773970.000000,15.240000,22.790000,0.000000,0.000000,0.000000,1514.677500,37.670000,4.50000,4.500000
max,999991.000000,20.000000,30.000000,1.000000,1.000000,1.000000,2000.000000,50.000000,5.00000,5.000000

In [62]:
df.isnull().sum()

Date                                     0
Time                                     0
Booking ID                               0
Booking Status                           0
Customer ID                              0
Vehicle Type                             0
Pickup Location                          0
Drop Location                            0
Avg VTAT                             16515
Avg CTAT                             16515
Cancelled  by Customer                   0
Reason for Cancelling by Customer    46200
Cancelled Rides by Driver                0
Reason for Cancelling by Driver      40389
Incomplete Rides                         0
Incomplete Rides Reason              46893
Booking Value                        16515
Payment Method                       16515
Ride Distance                        16515
Driver Ratings                       16515
Customer Rating                      16515
dtype: int64

In [63]:
df.head(100)

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for Cancelling by Customer,Cancelled Rides by Driver,Reason for Cancelling by Driver,Incomplete Rides,Incomplete Rides Reason,Booking Value,Payment Method,Ride Distance,Driver Ratings,Customer Rating
0,28/01/2024,6:00:00,CNR1721175,Success,329258,Auto,Area-3,Area-2,5.42,18.46,...,NaN,0,NaN,0,NaN,868.06,Wallet,28.50,4.4,4.4
1,26/01/2024,3:00:00,CNR2871422,Cancelled by Driver,201414,Mini,Area-7,Area-6,NaN,NaN,...,NaN,1,The customer was coughing/sick,0,NaN,NaN,NaN,NaN,NaN,NaN
2,15/01/2024,16:00:00,CNR6875935,Cancelled by Driver,301629,Bike,Area-40,Area-24,NaN,NaN,...,NaN,1,Personal & Car related issues,0,NaN,NaN,NaN,NaN,NaN,NaN
3,02/01/2024,22:00:00,CNR6798834,Cancelled by Driver,319684,Prime Sedan,Area-11,Area-24,NaN,NaN,...,NaN,1,The customer was coughing/sick,0,NaN,NaN,NaN,NaN,NaN,NaN
4,30/01/2024,22:00:00,CNR9661713,Incomplete,330283,Bike,Area-41,Area-45,NaN,NaN,...,NaN,0,NaN,1,Other Issue,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,02/01/2024,11:00:00,CNR1263901,Success,900152,Mini,Area-24,Area-24,2.46,4.99,...,NaN,0,NaN,0,NaN,1923.01,Cash,18.98,3.6,3.6
96,08/01/2024,22:00:00,CNR4352249,Success,242321,Auto,Area-32,Area-13,17.20,14.11,...,NaN,0,NaN,0,NaN,1379.76,UPI,45.04,3.9,3.2
97,29/01/2024,11:00:00,CNR3058879,Success,227257,Prime Plus,Area-24,Area-33,19.72,23.97,...,NaN,0,NaN,0,NaN,1165.94,Wallet,12.60,4.0,3.7
98,24/01/2024,12:00:00,CNR1803744,Success,432427,Prime Plus,Area-37,Area-5,13.20,14.05,...,NaN,0,NaN,0,NaN,1571.51,Card,34.33,3.7,4.8
99,06/01/2024,12:00:00,CNR4901113,Cancelled by Customer,987025,Prime Sedan,Area-23,Area-34,NaN,NaN,...,Driver is not moving towards pickup location,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
df['Reason for Cancelling by Customer'] = df['Reason for Cancelling by Customer'].fillna('Not Cancelled by Customer')
df['Reason for Cancelling by Driver'] = df['Reason for Cancelling by Driver'].fillna('Not Cancelled by Driver')
df['Incomplete Rides Reason'] = df['Incomplete Rides Reason'].fillna('Completed Ride')

In [43]:
df.isnull().sum()

Date                                     0
Time                                     0
Booking ID                               0
Booking Status                           0
Customer ID                              0
Vehicle Type                             0
Pickup Location                          0
Drop Location                            0
Avg VTAT                             16515
Avg CTAT                             16515
Cancelled  by Customer                   0
Reason for Cancelling by Customer        0
Cancelled Rides by Driver                0
Reason for Cancelling by Driver          0
Incomplete Rides                         0
Incomplete Rides Reason                  0
Booking Value                        16515
Payment Method                       16515
Ride Distance                        16515
Driver Ratings                       16515
Customer Rating                      16515
dtype: int64

In [65]:
for col in ['Booking Value', 'Ride Distance', 'Driver Ratings', 'Customer Rating', 'Avg VTAT', 'Avg CTAT']:
    df[col] = df[col].fillna(df[col].mean())

In [45]:
df.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for Cancelling by Customer,Cancelled Rides by Driver,Reason for Cancelling by Driver,Incomplete Rides,Incomplete Rides Reason,Booking Value,Payment Method,Ride Distance,Driver Ratings,Customer Rating
0,28/01/2024,6:00:00,CNR1721175,Success,329258,Auto,Area-3,Area-2,5.420000,18.46000,...,Not Cancelled by Customer,0,Not Cancelled by Driver,0,Completed Ride,868.060000,Wallet,28.500000,4.40000,4.400000
1,26/01/2024,3:00:00,CNR2871422,Cancelled by Driver,201414,Mini,Area-7,Area-6,10.481654,15.56432,...,Not Cancelled by Customer,1,The customer was coughing/sick,0,Completed Ride,1023.374286,NaN,25.447143,4.00304,4.001726
2,15/01/2024,16:00:00,CNR6875935,Cancelled by Driver,301629,Bike,Area-40,Area-24,10.481654,15.56432,...,Not Cancelled by Customer,1,Personal & Car related issues,0,Completed Ride,1023.374286,NaN,25.447143,4.00304,4.001726
3,02/01/2024,22:00:00,CNR6798834,Cancelled by Driver,319684,Prime Sedan,Area-11,Area-24,10.481654,15.56432,...,Not Cancelled by Customer,1,The customer was coughing/sick,0,Completed Ride,1023.374286,NaN,25.447143,4.00304,4.001726
4,30/01/2024,22:00:00,CNR9661713,Incomplete,330283,Bike,Area-41,Area-45,10.481654,15.56432,...,Not Cancelled by Customer,0,Not Cancelled by Driver,1,Other Issue,1023.374286,NaN,25.447143,4.00304,4.001726

In [47]:
df.isnull().sum()

Date                                     0
Time                                     0
Booking ID                               0
Booking Status                           0
Customer ID                              0
Vehicle Type                             0
Pickup Location                          0
Drop Location                            0
Avg VTAT                                 0
Avg CTAT                                 0
Cancelled  by Customer                   0
Reason for Cancelling by Customer        0
Cancelled Rides by Driver                0
Reason for Cancelling by Driver          0
Incomplete Rides                         0
Incomplete Rides Reason                  0
Booking Value                            0
Payment Method                       16515
Ride Distance                            0
Driver Ratings                           0
Customer Rating                          0
dtype: int64

In [66]:
print(df['Payment Method'].unique())

['Wallet' nan 'Card' 'UPI' 'Cash']

In [67]:
df['Payment Method'] = df['Payment Method'].fillna('Not Applicable')

In [68]:
df.isnull().sum()

Date                                 0
Time                                 0
Booking ID                           0
Booking Status                       0
Customer ID                          0
Vehicle Type                         0
Pickup Location                      0
Drop Location                        0
Avg VTAT                             0
Avg CTAT                             0
Cancelled  by Customer               0
Reason for Cancelling by Customer    0
Cancelled Rides by Driver            0
Reason for Cancelling by Driver      0
Incomplete Rides                     0
Incomplete Rides Reason              0
Booking Value                        0
Payment Method                       0
Ride Distance                        0
Driver Ratings                       0
Customer Rating                      0
dtype: int64

In [69]:
df.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for Cancelling by Customer,Cancelled Rides by Driver,Reason for Cancelling by Driver,Incomplete Rides,Incomplete Rides Reason,Booking Value,Payment Method,Ride Distance,Driver Ratings,Customer Rating
0,28/01/2024,6:00:00,CNR1721175,Success,329258,Auto,Area-3,Area-2,5.420000,18.46000,...,Not Cancelled by Customer,0,Not Cancelled by Driver,0,Completed Ride,868.060000,Wallet,28.500000,4.40000,4.400000
1,26/01/2024,3:00:00,CNR2871422,Cancelled by Driver,201414,Mini,Area-7,Area-6,10.481654,15.56432,...,Not Cancelled by Customer,1,The customer was coughing/sick,0,Completed Ride,1023.374286,Not Applicable,25.447143,4.00304,4.001726
2,15/01/2024,16:00:00,CNR6875935,Cancelled by Driver,301629,Bike,Area-40,Area-24,10.481654,15.56432,...,Not Cancelled by Customer,1,Personal & Car related issues,0,Completed Ride,1023.374286,Not Applicable,25.447143,4.00304,4.001726
3,02/01/2024,22:00:00,CNR6798834,Cancelled by Driver,319684,Prime Sedan,Area-11,Area-24,10.481654,15.56432,...,Not Cancelled by Customer,1,The customer was coughing/sick,0,Completed Ride,1023.374286,Not Applicable,25.447143,4.00304,4.001726
4,30/01/2024,22:00:00,CNR9661713,Incomplete,330283,Bike,Area-41,Area-45,10.481654,15.56432,...,Not Cancelled by Customer,0,Not Cancelled by Driver,1,Other Issue,1023.374286,Not Applicable,25.447143,4.00304,4.001726

In [71]:
df.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for Cancelling by Customer,Cancelled Rides by Driver,Reason for Cancelling by Driver,Incomplete Rides,Incomplete Rides Reason,Booking Value,Payment Method,Ride Distance,Driver Ratings,Customer Rating
0,28/01/2024,6:00:00,CNR1721175,Success,329258,Auto,Area-3,Area-2,5.420000,18.46000,...,Not Cancelled by Customer,0,Not Cancelled by Driver,0,Completed Ride,868.060000,Wallet,28.500000,4.40000,4.400000
1,26/01/2024,3:00:00,CNR2871422,Cancelled by Driver,201414,Mini,Area-7,Area-6,10.481654,15.56432,...,Not Cancelled by Customer,1,The customer was coughing/sick,0,Completed Ride,1023.374286,Not Applicable,25.447143,4.00304,4.001726
2,15/01/2024,16:00:00,CNR6875935,Cancelled by Driver,301629,Bike,Area-40,Area-24,10.481654,15.56432,...,Not Cancelled by Customer,1,Personal & Car related issues,0,Completed Ride,1023.374286,Not Applicable,25.447143,4.00304,4.001726
3,02/01/2024,22:00:00,CNR6798834,Cancelled by Driver,319684,Prime Sedan,Area-11,Area-24,10.481654,15.56432,...,Not Cancelled by Customer,1,The customer was coughing/sick,0,Completed Ride,1023.374286,Not Applicable,25.447143,4.00304,4.001726
4,30/01/2024,22:00:00,CNR9661713,Incomplete,330283,Bike,Area-41,Area-45,10.481654,15.56432,...,Not Cancelled by Customer,0,Not Cancelled by Driver,1,Other Issue,1023.374286,Not Applicable,25.447143,4.00304,4.001726

In [70]:
df.to_csv("ola_dataset_cleaned.csv", index=False)

In [72]:

from sqlalchemy import create_engine

In [73]:
import pymysql

In [77]:
engine = create_engine("mysql+pymysql://root:Dhanush%402005@localhost:3306/mydb")

In [78]:
df.to_sql(
    name='ola_rides',  # Table name in MySQL
    con=engine,
    if_exists='append',               # Options: 'fail', 'replace', 'append'
    index=False                        # Skip DataFrame index
)

49999